<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
        </label>
    <img src="assets/missy-logo.png" alt="logo">
    <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</nav>

  <div class="header">
  
    <h3 style="margin-left: 150px; display:inline-block; margin-top: 30px;">Get tested at home
      <br>in 60 mins</h3>
    <p style="margin-left: 150px;  margin-top: 10px;">Available every day from 6:30 AM to 10 PM</p>
    <button type="button" class="block">Search Test</button>
    <p style="margin-left: 150px; margin-top: 4px">2000+ Tests  &  100+ Health Packages</p>
     <img src="" alt="">
  </div>


    <div class="container">
      <div class="row block">
        <div class="row-md align-items-center " style="height: 10px;">
          <h1 class="text-center" style="letter-spacing: .1rem; font-size: 4rem; color:#f5f6f9"> </h1>
        </div>
        
      </div>

      
      <owl-carousel-o [options]="customOptions">
       <ng-template carouselSlide>
        <img src="assets/1.png" alt="">
       </ng-template>  
     <ng-template carouselSlide>
        <img src="assets/2.png" alt="">
     </ng-template>  
     <ng-template carouselSlide>
        <img src="assets/3.png" alt="">
     </ng-template>  
     </owl-carousel-o>
    

     





    </div>